<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'genres' %}">Жанры</a>
        <a href="{% url 'tracks' %}">Треки</a>
        <a href="{% url 'artists' %}">Исполнители</a>
    </nav>

    <div id="container">
        <div id="content">
            <h1>Добро пожаловать на сайт!</h1>
            <p>Это главная страница музыкального каталога.</p>
            <p>Перейдите в раздел <a href="{% url 'genres' %}">Жанры</a> или <a href="{% url 'tracks' %}">Треки</a> для просмотра и управления каталогом.</p>
        </div>
    </div>
    
    <footer>footer</footer>
</body>
</html>